<div class="navbar navbar-default hidden-xs">
  <div class="container">
    ICS Draw
  </div>
</div>
<div id="wrapper" class="clearfix">
  <div id="main">
      <div id="canvasBox">
        <stage #stageComponent [drawingData]="drawingData"></stage>
        <div id="fileIO">
          <div class="row hidden-xs">
            <desktop-io-box [drawingData]="drawingData"
                            (exportSVGEvent)="handleSVGClick()"
                            (exportParamaterEvent)="handleExportParamaterClick()"
            ></desktop-io-box>
          </div>
          <div class="row show-xs hidden-sm hidden-md hidden-lg">
            <mobile-io-box [drawingData]="drawingData"
                                   (exportPNGEvent)="handlePNGClick()"
                                   (importCameraEvent)="handleCamera()"
            ></mobile-io-box>
          </div>
        </div>
      </div>
  </div>
  <nav id="propertyPanel" class="hidden-xs">
    <property-panel [drawingData]="drawingData"></property-panel>
  </nav>
</div>
<nav id="desktopOutputBox">
</nav>
<shape-property-modal [drawingData]="drawingData"></shape-property-modal>