
<div class="navbar navbar-default hidden-xs">
  <div class="container">
    ICS Draw
  </div>
</div>
<div id="wrapper" class="clearfix">
  <div id="main">
    <div>
      <div id="canvasBox">
        <stage #stageComponent [drawingData]="drawingData"></stage>
      </div>
    </div>
  </div>
  <nav id="propertyPanel" class="hidden-xs">
    <property-panel [drawingData]="drawingData"
                    (exportSVGEvent)="handleSVGClick()"
                    (exportParamaterEvent)="handleExportParamaterClick()"
    ></property-panel>
  </nav>
</div>
<nav id="mobilePropertyPanel" class="show-xs">
  <mobile-property-panel [drawingData]="drawingData"
                     (exportPNGEvent)="handlePNGClick()"
                     (importCameraEvent)="handleCamera()"
  ></mobile-property-panel>
</nav>

<shape-property-modal [drawingData]="drawingData"></shape-property-modal>