<div>

hue
<input type="range" class="topcoat-range" min="0" max="360" step="0.01" [(ngModel)]="colorData.hue"
       placeholder="hue"/>
{{colorData.hue}}
  <hr>

hue variance
<input type="range" class="topcoat-range" min="0" max="360" step="0.01" [(ngModel)]="colorData.hueVariance"
       placeholder="hueVariance"/>
{{colorData.hueVariance}}
  <hr>

satuation
<input type="range" class="topcoat-range" min="0" max="100" step="0.01" [(ngModel)]="colorData.satuation"
       placeholder="satuation"/>
{{colorData.satuation}}
  <hr>

satuatio variance
<input type="range" class="topcoat-range" min="0" max="100" step="0.01" [(ngModel)]="colorData.satuationVariance"
       placeholder="satuationVariance"/>
{{colorData.satuationVariance}}

  <hr>

  luminance
<input type="range" class="topcoat-range" min="0" max="100" step="0.01" [(ngModel)]="colorData.luminance"
       placeholder="luminance"/>
{{colorData.luminance}}
<hr>

  luminance variance
<input type="range" class="topcoat-range" min="0" max="100" step="0.01" [(ngModel)]="colorData.luminanceVariance"
       placeholder="luminanceVariance"/>
{{colorData.luminanceVariance}}



</div>
