<input-range
        label="ステージの幅 (px)"
        min="0" max="500" step="1"
        [drawingData]="drawingData"
        targetProperty="width">
</input-range>

<input-range
        label="ステージの高さ (px)"
        min="0" max="500" step="1"
        [drawingData]="drawingData"
        targetProperty="height">
</input-range>


<hr>
<input type="color" [(ngModel)]="drawingData.bgColor" placeholder="bgColor" value="{{drawingData.bgColor}}"/>
{{drawingData.bgColor}}

<hr>

<input-range
        label="発生位置 - X座標 (px)"
        min="0" max="500" step="1"
        [drawingData]="drawingData"
        targetProperty="startX">
</input-range>

<input-range
        label="発生位置 - X座標 (ばらつき)"
        min="0" max="500" step="1"
        [drawingData]="drawingData"
        targetProperty="startXVariance">
</input-range>


<input-range
        label="発生位置 - Y座標 (px)"
        min="0" max="500" step="1"
        [drawingData]="drawingData"
        targetProperty="startY">
</input-range>

<input-range
        label="発生位置 - Y座標 (ばらつき)"
        min="0" max="500" step="1"
        [drawingData]="drawingData"
        targetProperty="startYVariance">
</input-range>

<input-range
        label="初期速度 (px)"
        min="0" max="20" step="0.1"
        [drawingData]="drawingData"
        targetProperty="initialSpeed">
</input-range>

<input-range
        label="初期速度 (ばらつき)"
        min="0" max="20" step="0.1"
        [drawingData]="drawingData"
        targetProperty="initialSpeedVariance">
</input-range>


<hr>

<input-range
        label="初期速度 - 方向"
        min="0" max="360" step="0.5"
        [drawingData]="drawingData"
        targetProperty="initialDirection">
</input-range>

<input-range
        label="初期速度 - 方向 (ばらつき)"
        min="0" max="360" step="0.5"
        [drawingData]="drawingData"
        targetProperty="initialDirectionVariance">
</input-range>

<hr>

<input-range
        label="摩擦"
        min="0" max="0.5" step="0.001"
        [drawingData]="drawingData"
        targetProperty="friction">
</input-range>

<hr>

<input-range
        label="加速量"
        min="0" max="20" step="0.1"
        [drawingData]="drawingData"
        targetProperty="accelerationSpeed">
</input-range>

<input-range
        label="加速方向"
        min="0" max="360" step="0.1"
        [drawingData]="drawingData"
        targetProperty="accelerationDirection">
</input-range>

<hr />

<input-range
        label="1フレームあたりの発生数"
        min="1" max="5" step="1"
        [drawingData]="drawingData"
        targetProperty="emitFrequency">
</input-range>
