<h4>Particle Setting</h4>

<input-range
        [drawingData]="drawingData"
        targetProperty="startAlpha"
        label="Start Alpha"
        min="0"
        max="1"
        step="0.01"
        >
</input-range>

<label>Start Alpha</label>
<div class="row">
  <div class="col-md-8">
    <input type="range" class="topcoat-range"
           min="0" max="1" step="0.01"
           [(ngModel)]="drawingData.startAlpha"
           placeholder="startAlpha"/>
  </div>
  <div class="col-md-4">
      {{drawingData.startAlpha}}
  </div>
</div>
<input type="range" class="topcoat-range" min="0" max="1" step="0.01"
       [(ngModel)]="drawingData.startAlphaVariance"
       placeholder="startAlphaVariance"/>
{{drawingData.startAlphaVariance}}

<hr>
finish-alpha
<input type="range" class="topcoat-range" min="0" max="1" step="0.01" [(ngModel)]="drawingData.finishAlpha"
       placeholder="finishAlpha"/>
{{drawingData.finishAlpha}}
<input type="range" class="topcoat-range" min="0" max="1" step="0.01"
       [(ngModel)]="drawingData.finishAlphaVariance"
       placeholder="finishAlphaVariance"/>
{{drawingData.finishAlphaVariance}}


<hr>
start-scale
<input type="range" class="topcoat-range" min="0" max="5" step="0.01" [(ngModel)]="drawingData.startScale"
       placeholder="startScale"/>
{{drawingData.startScale}}
<input type="range" class="topcoat-range" min="0" max="5" step="0.01"
       [(ngModel)]="drawingData.startScaleVariance"
       placeholder="startScaleVariance"/>
{{drawingData.startScaleVariance}}

<hr>
finish-scale
<input type="range" class="topcoat-range" min="0" max="5" step="0.01" [(ngModel)]="drawingData.finishScale"
       placeholder="finishScale"/>
{{drawingData.finishScale}}
<input type="range" class="topcoat-range" min="0" max="5" step="0.01"
       [(ngModel)]="drawingData.finishScaleVariance"
       placeholder="finishScaleVariance"/>
{{drawingData.finishScaleVariance}}

<hr>
life span
<input type="range" class="topcoat-range" min="10" max="500" step="0.01" [(ngModel)]="drawingData.lifeSpan"
       placeholder="lifeSpan"/>
{{drawingData.lifeSpan}}
<input type="range" class="topcoat-range" min="0" max="500" step="0.01"
       [(ngModel)]="drawingData.lifeSpanVariance"
       placeholder="lifeSpanVariance"/>
{{drawingData.lifeSpanVariance}}
