<h4>Particle Setting</h4>

<input-range
        label="Start Alpha"
        min="0.0" max="1.0" step="0.01"
        [drawingData]="drawingData"
        targetProperty="startAlpha">
</input-range>

<input-range
        label="Start Alpha Variance"
        min="0.0" max="1.0" step="0.01"
        [drawingData]="drawingData"
        targetProperty="startAlphaVariance">
</input-range>


<input-range
        label="End Alpha"
        min="0.0" max="1.0" step="0.01"
        [drawingData]="drawingData"
        targetProperty="finishAlpha">
</input-range>

<input-range
        label="End Alpha Variance"
        min="0.0" max="1.0" step="0.01"
        [drawingData]="drawingData"
        targetProperty="finishAlphaVariance">
</input-range>


<input-range
        label="Start Scale"
        min="0.0" max="5.0" step="0.01"
        [drawingData]="drawingData"
        targetProperty="startScale">
</input-range>

<input-range
        label="Start Scale Variance"
        min="0.0" max="5.0" step="0.01"
        [drawingData]="drawingData"
        targetProperty="startScaleVariance">
</input-range>


<input-range
        label="End Scale"
        min="0.0" max="5.0" step="0.01"
        [drawingData]="drawingData"
        targetProperty="finishScale">
</input-range>

<input-range
        label="End Scale Variance"
        min="0.0" max="5.0" step="0.01"
        [drawingData]="drawingData"
        targetProperty="finishScaleVariance">
</input-range>


<input-range
        label="Life Span"
        min="10" max="500" step="1.0"
        [drawingData]="drawingData"
        targetProperty="lifeSpan">
</input-range>

<input-range
        label="Life Span Variance"
        min="10" max="500" step="1.0"
        [drawingData]="drawingData"
        targetProperty="lifeSpanVariance">
</input-range>

