body{
  padding:0px;
  margin:0px;
}

/**  */
#layer_canvas{
  position:absolute;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  background-color:gray;
}

.canvas_drawing{

}

div.toolbar {
  margin: 0px;
  padding: 0px;
}

p.tools {
  margin: 0px;
  padding: 0px;
}

p.tools a {
  display: block;
  width: 5em;
  float: left;
  margin: 0px 1px 0px 0px;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  background-color: #aaaa00;
  color:white;
}

p.toolbar a.tools { background-color: blue;  color: white; }