<div class="scope__grid">
  <div class="scope__grid-tools">
    <a href="http://createjs.com"
       target="_blank" rel="noopener"
       class="d-none d-md-inline-block">
      <img
        src="assets/images/ui/logo_createjs.svg"
        width="95" height="24"
        alt="Made with CreateJS"/>
    </a>
    <a href="https://angular.io/"
       target="_blank"
       rel="noopener" class="d-none d-md-inline-block">
      <img
        src="assets/images/ui/logo_angular2.png"
        height="24"
        alt="Made with Angular 5"/>
    </a>
  </div>
  <div class="scope__grid-sns">
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>&nbsp;&nbsp;&nbsp;
    <div class="fb-like"
         data-href="http://ics-web.jp/projects/particle-develop/"
         data-layout="button_count"
         data-action="like"
         data-show-faces="true"
         data-share="false"></div>
    &nbsp;&nbsp;&nbsp;
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
       data-hatena-bookmark-layout="simple-balloon"
       data-hatena-bookmark-lang="ja"
       title="このエントリーをはてなブックマークに追加">
      <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
           alt="このエントリーをはてなブックマークに追加"
           width="20"
           height="20" style="border: none;"/>
    </a>
  </div>
  <div class="scope__grid-maker">
    <a href="https://ics.media"
       class="logo-ics"
       target="_blank"
       rel="noopener"
       title="Created By ICS INC.">
      <img src="assets/images/ui/copyright.png"
           height="24"
           alt="Created By ICS INC."/></a>
  </div>
</div>
