$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
$nav-tabs-border-color: black; // ics-custom

:host {
  border-top: 1px solid $nav-tabs-border-color;
  filter: grayscale(100%);
  transition: all 0.2s;
  &:hover {
    filter: grayscale(0%);
  }



  > a {
    display: block;
    //@include hover-focus-active {
    //  background-color: transparent;
    //}

    &:last-of-type {
      margin-left: 20px;
    }


    @media (max-width: 420px) {
      &:last-of-type {
        display: none;
      }
    }
  }

  > *:nth-child(2) {
    margin-left: rem-calc(5);
    margin-right: auto;
  }

}

.scope {
  &__grid {
    display: grid;
    width: 100%;

    grid-template-columns: auto 1fr auto;
    grid-template-rows: 35px;
    grid-template-areas: "tools sns maker";

    @media (max-width: map-get($grid-breakpoints, "md")) {
      grid-template-columns: 1fr;
      grid-template-rows: 35px;
      grid-template-areas: "sns";
    }

    &-tools {
      grid-area: tools;
      display: flex;
      align-items: center;
      padding-left: 10px;

      @media (max-width: map-get($grid-breakpoints, "md")) {
        display: none;
      }
    }
    &-sns {
      grid-area: sns;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: map-get($grid-breakpoints, "md")) {
        justify-content: center;
      }
    }
    &-maker {
      grid-area: maker;
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 10px;

      @media (max-width: map-get($grid-breakpoints, "md")) {
        display: none;
      }
    }
  }

}

