<div class="pd">
  <header class="pd-header">
    <div class="pd-header__grid">

      <h1 class="pd-header__grid-logo"><img src="assets/images/ui/logo.png" width="205" height="33" alt="Particle Develop"/></h1>

      <div class="pd-header__grid-about d-none d-md-block">
        <button class=" btn btn-primary header-btn" data-toggle="modal" data-target="#modalAbout">
          {{localeData.H_about}}
        </button>
      </div>

      <app-header-desktop class="pd-header__grid-menu header-desktop-menu"
                          #largeIOBox [drawingData]="drawingData"
                          [platformData]="platformData"
                          (exportSvgEvent)="handleSvgClick()"
                          (exportPngEvent)="handlePngClick()"
                          (exportJpgEvent)="handleJpgClick()"
                          (exportWebpEvent)="handleWebpClick()"
                          (exportParameterEvent)="handleExportParameterClick()">
      </app-header-desktop>

      <app-header-mobile class="pd-header__grid-menu header-mobile-menu"
                         [drawingData]="drawingData"
                         (exportPngEvent)="handlePngClick()">
      </app-header-mobile>
    </div>
  </header>

  <div class="pd-canvas">
    <app-stage #stageComponent [drawingData]="drawingData"></app-stage>
  </div>

  <app-property-panel
    class="property-panel pd-property d-none d-md-block"
    [drawingData]="drawingData">
  </app-property-panel>

  <app-footer class="pd-footer"></app-footer>


</div>


<!-- Modal -->
<div class="modal fade" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header text-xs-center">
        <h4 class="modal-title">{{localeData.MA_head}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{localeData.MA_sentence}}</p>
        <hr>
        <figure>
          <img src="assets/images/ui/about.png" style="width:100%;"/>
        </figure>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-property-io-box #propetyModal
                     class="property-io-box">
</app-property-io-box>

<!-- Modal -->
<app-modal-template
  class="small-particle-template-property-modal"
  [drawingData]="drawingData">
</app-modal-template>
