<div class="modal fade show" tabindex="-1" role="dialog" id="smallParticleTemplate">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{localeData.ST_head}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <figure *ngFor="let template of templateList"
                  (click)="selectTemplate(template.property)"
                  data-dismiss="modal">
            <img class="media-object" src="assets/images/particle-template/{{template.imageId}}.png" width="128" height="128"/>
            <figcaption>{{template.name}}</figcaption>
          </figure>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


