$gray-900: #323232 !default;

/deep/ .pd-property {
  flex: 285px;
  height: 100%;
  overflow: hidden;

  &__inner {
    height: 100%;
    background-color: $gray-900;
  }

  .nav-tabs {
    a {
      padding: rem-calc(2) rem-calc(15);
      font-size: rem-calc(16);
    }
    .nav-item {
      height: 35px;
    }
  }

  &__ul {
    background: #222222;
  }
  &__nav-item{
    padding: 0 1rem;
    line-height: 35px;
    background: #222222;
  }

  .tab-content {
    height: calc(100vh - 125px);
    overflow: auto;
  }

  .pd-section {
    height: 100%;
    overflow-y: auto;
    border: none;

    &__header {
      padding-top: 10px;
      padding-bottom: 10px;
      border: none;

      + hr {
        margin-top: 0;
      }
      h3 {
        text-align: center;
      }
    }

    &__block {

      padding-left: 10px;
      padding-right: 10px;

      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    hr {
      margin-top: rem-calc(12);
      margin-bottom: rem-calc(12);
    }
  }
}
