html, body {
  height: 100%;
}

body {
  overflow: hidden;
  padding: 0;

  /*スクロールバー全体*/
  ::-webkit-scrollbar {
    width: 7px;
  }

  /*スクロールバーの軌道*/
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(33, 33, 33, 0.25);
  }

  /*スクロールバーの動く部分*/
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
  }
  ::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .5);
  }
}
