// --------------------------
// Custom CSS
// --------------------------

$panelSpace: 2;
$sideWidth: 285;
$headerHeight: 44;

.panel-default > .panel-heading,
.panel-default > .panel-footer {
  background: $navbar-default-bg;
}

.panel {
  background-color: #151515;
}

.panel-title {
  font-size: $font-size-base;
}

.panel-footer {
  padding: 0;
  height: $headerHeight + px;
}

html, body {
  height: 100%;
  font-size: 14px !important;
}

body {
  overflow: hidden;
  background-color: $body_color;
}

.navbar {
  margin-bottom: 0;
}

.navbar {
  @media (min-width: $grid-float-breakpoint) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

h1 {
  line-height: 48px;
}

#wrapper {
  display: flex;
  height: calc(100% - 54px - 42px);
  margin-top: 2px;
  @media (max-width: $screen-sm) {
    margin-top: 0;
  }
  #main {
    margin-right: 2px;
    height: 100%;
  }

  #canvasBox {
    margin-left: $panelSpace + px;
    height: 100%;
    @media (max-width: $screen-sm) {
      margin: 0;
      border-radius: 0;
    }

    .panel-body {
      padding: 0;
    }

    #myCanvas {
      cursor: crosshair;
    }
  }

  h2 {
    font-weight: normal;
  }

  .panel {
    h3 {
      font-size: 14px;
      color: #d2d2d2;
    }
  }

  #propertyPanel {
    height: 100%;
    flex: $sideWidth + px;
    margin-right: $panelSpace + px;

    .panel {
      background: #323232;
      height: 100%;
      overflow: hidden;
      color: #8b9292;

      .panel-mybody {
        background: #323232;
        height: calc(100% - 80px);

        #myTabContent {
          height: 100%;
          overflow: auto;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .tab-pane {
        label {
          font-size: 12px;
          margin-bottom: 2px;
        }
      }

      div.shapeListItem {
        text-align: center;
        background: inherit;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        align-items: center; /* 縦方向中央揃え */
        justify-content: center; /* 横方向中央揃え */
        box-sizing: border-box;
        line-height: 0;
        margin-bottom: 20px;

        shape-itemrenderer {
          border: 1px solid rgba(0, 0, 0, 0.1);

          canvas {
            opacity: 0.25;
          }
        }

        &.selected shape-itemrenderer {
          background: #222;
          border: 1px solid #333;
          canvas {
            opacity: 1.0;
          }
        }
      }

      div.templateListItem {
        padding: 6px;
        cursor: pointer;
        margin-top: 0;

        img {
          border: 1px solid #555;
        }

        &:hover {
          background: #333;
        }

        h4 {
          margin-top: 3px;
          font-size: 14px;
          font-weight: bold;
        }
        p {
          color: #666;
          font-size: 12px;
        }
      }
    }

    hr {
      border-bottom: 1px solid #323232;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      $color: #333;
      cursor: default;
      background: none;
      border: none;
    }

    .nav > li > a {
      padding: 2px 15px;
    }

    .nav-tabs {
      border-bottom: none;
      background: #262626;
    }
    .nav-tabs > li {
      & > a {
        color: #888;
        font-size: 16px;
        border-radius: 0;
        border : none;
      }

      &.active, &.active:hover {
        background: #323232;
        border : none;
      }
      &:hover {
        background: #2a2a2a;
        border : none;
      }
    }
  }

  .inputRangeContainer {
    display: flex;

    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */

    .range {
      flex: 80%;
    }
    .label {
      flex: 20%;
    }
  }
}

mobile-io-box .nav {
  $buttonW: 50;
  width: ($buttonW * 3) + px;
  float: right;
  margin-left: 0;
  margin-right: 0;
  li {
    width: 33.3%;
    float: left;
    padding: 0;
    a {
      color: #888 !important;
      font-size: 16px !important;;
    }
  }

}

mobile-particle-template-property-modal {
  .media {
    float: left;
    width: 25%;
    margin-top: 0;
  }

  .media-left {
    width: 100%;
    display: block;

    img {
      border: 1px solid $gray-dark;
      width: 100%;
    }
  }

  .media-body {
    display: none;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
  background: #323232;
  border-top: 1px solid black;

  .footer_left {
    position: absolute;
    left: 10px;
    top: 8px;
  }

  .footer_right {
    position: absolute;
    right: 10px;
    top: 8px;

    @media (max-width: $screen-sm) {
      right: 10px;
    }
  }
}


