// --------------------------
// Custom CSS
// --------------------------

$panelSpace: 4;
$sideWidth: 285;
$headerHeight: 44;

.panel-default > .panel-heading,
.panel-default > .panel-footer {
  @include btn-shadow($navbar-default-bg);
}

.panel {
  background-color: #151515;
}

.panel-title {
  font-size: $font-size-base;
}

.panel-footer {
  padding: 0;
  height: $headerHeight + px;
}

html, body {
  height: 100%;
  font-size: 14px !important;
}

body {
  overflow: hidden;
  background-color: $body_color;
}

.navbar {
  margin-bottom: 0;
}

.navbar {
  @media (min-width: $grid-float-breakpoint) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

h1 {
  line-height: 48px;
}

#wrapper {
  height: calc(100% - 54px);
  margin-top: 3px;

  @media (max-width: $screen-sm) {
    margin-top: 0;
  }

  display: flex;

}

#main {
  width: calc(100% - $sideWidth);
  height: 100%;
}

#canvasBox {
  margin-left: $panelSpace / 2 + px;
  height: 100%;
  @media (max-width: $screen-sm) {
    margin: 0;
    border-radius: 0;
  }

  .panel-body {
    padding: 0;
  }
}

h2 {
  text-shadow: 0px -2px 0 rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.panel {
  h3 {
    font-size: 14px;
    color: #d2d2d2;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
  }
}

#propertyPanel {
  height: 100%;
  flex: $sideWidth + px;
  margin-right: ($panelSpace / 2) + px;

  .panel {
    background: #2a2a2a;
    height: 100%;
    overflow: hidden;

    .panel-mybody {
      background: #2a2a2a;
      height: calc(100% - 80px);

      #myTabContent {
        height: 100%;
        overflow: auto;
      }
    }

    color: #8b9292;

    .tab-pane {
      label {
        font-size: 12px;
        margin-bottom: 2px;
      }
    }

    div.shapeListItem {
      text-align: center;
      background: inherit;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      align-items: center; /* 縦方向中央揃え */
      justify-content: center; /* 横方向中央揃え */
      box-sizing: border-box;
      line-height: 0;
      margin-bottom: 20px;

      shape-itemrenderer {
        border: 1px solid rgba(0, 0, 0, 0.1);

        canvas {
          opacity: 0.25;
        }
      }

      &.selected shape-itemrenderer {
        background: #222;
        border: 1px solid #333;
        canvas {
          opacity: 1.0;
        }
      }
    }

    div.templateListItem {
      padding: 6px;
      cursor: pointer;
      margin-top: 0;

      img {
        border: 1px solid #555;
      }

      &:hover {
        background: #333;
      }

      h4 {
        margin-top: 3px;
        font-size: 14px;
        font-weight: bold;
      }
      p {
        color: #666;
        font-size: 12px;
      }
    }
  }

  hr {
    border-top: 1px solid #1c1e22;
    border-bottom: 1px solid #333333;

    margin-top: 12px;
    margin-bottom: 12px;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    $color: #333;
    cursor: default;
    background: none;
    border: none;

  }

  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs > li {
    & > a {
      color: #888;
      font-size: 16px;
      border-radius: 0;
    }

    $color: #333;
    @include gradient-vertical-three-colors(darken($color, 6%), $color, 60%, lighten($color, 4%));

    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid black;

    &.active {
      border-bottom: 1px solid #2a2a2a;
      @include gradient-vertical-three-colors(lighten($color, 6%), $color, 60%, darken($color, 4%));

      border-top: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
}

.inputRangeContainer {
  display: flex;

  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */

  .range {
    flex: 80%;
  }
  .label {
    flex: 20%;
  }
}

mobile-io-box .nav {
  $buttonW: 50;
  width: ($buttonW * 3) + px;
  float: right;
  margin-left: 0;
  margin-right: 0;
  li {
    width: 33.3%;
    float: left;
    padding: 0;
    a {
      color: #888 !important;
      font-size: 16px !important;;
    }
  }

}

mobile-particle-template-property-modal {
  .media {
    float: left;
    width: 25%;
    margin-top: 0;
  }

  .media-left {
    width: 100%;
    display: block;

    img {
      border: 1px solid $gray-dark;
      width: 100%;
    }
  }

  .media-body {
    display: none;
  }
}

#myCanvas {
  cursor: crosshair;
}

.footer_left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.footer_right {
  position: absolute;
  bottom: 10px;
  right: 360px;

  @media (max-width: $screen-sm) {
    right: 10px;
  }
}

