
$sideWidth:400;

body {
  height: 100%;
  overflow: hidden;
}
#main {
  width: 100%;
  float: left;
}
#mainContent {
  margin-right: $sideWidth + px;
}
#propertyPanel {
  width: $sideWidth + px;
  margin-left: - $sideWidth + px;
  float: right;
  max-height: 100%;
  overflow-y:scroll;
}

